header,
.mainContent,
.row {
  max-width: 1200px;
  padding: 0 5px;
  margin: auto;
}
header {
  justify-content: flex-end;
  padding: 0 0 0 5px;
}
img {
  width: auto;
}
.logo {
  padding: 5px 0px;
  flex-basis: 85%;
  position: relative;
}
.logo img {
  position: absolute;
}
.loginLinks > ul > li > a {
  transition: all 1s;
}
.loginLinks > ul > li > a:hover {
  background-color: #4caf50;
  color: #fff;
}
.search {
  padding: 5px 0;
  flex-basis: 40%;
}
.mainNav {
  display: block;
  padding: 8px 0;
}
.mainNav > div > ul > li {
  border: none;
  padding: 0;
}
.mainNav > div > ul > li a {
  font-size: 0.9rem;
  padding: 5px 10px;
  transition: all 1s;
}
.mainNav > div > ul > li a:hover {
  background-color: #afd8a5;
  color: #172901;
  border-radius: 8px;
}
.mainNav > div > ul > li.current {
  border-bottom: 1px dashed #000;
}
.burgerMenu {
  display: none;
}
.loginLinks {
  flex-basis: 15%;
}
.mainNav .row ul {
  flex-direction: row;
  justify-content: space-between;
}
.mainContent {
  display: flex;
  padding: 0 0 0 10px;
  margin: 0 auto;
}
main {
  flex-basis: 70%;
}
.newsTxt h2 {
  margin: 0;
  padding: 0;
}
.sideBar {
  flex-basis: 30%;
  padding: 25px 5px;
  background-color: #ddceaa;
  color: #2b333d;
}
.sideBar h3 {
  border: none;
  margin: 0;
}
.strapline {
  display: flex;
}
.straplinetxt,
.straplineImg {
  padding: 0 5px;
  flex-basis: 50%;
}
.straplineImg > img {
  width: 100%;
}
.straplinetxt p:first-child {
  margin-top: 0;
}
.news {
  display: flex;
  flex-wrap: wrap;
}
.newsItem {
  flex-basis: 33%;
  padding: 15px 15px 10px 0;
}
.newsPhoto > img {
  width: 100%;
}
footer {
  margin: 0 auto;
  padding: 15px 5px 5px 5px;
}
footer .row {
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
.footerSocialLinks {
  flex-basis: 20%;
}
.footerSocialLinks ul {
  padding-left: 0;
  justify-content: space-around;
}
@media only screen and (max-width: 800px) {
  /*
  body {
    background-color: #cdcdcd;
  }
*/
  .strapline {
    flex-direction: column;
  }
  .straplineImg {
    padding-right: 15px;
  }
  .newsItem {
    flex-basis: 50%;
  }
  .logo {
    flex-basis: 50%;
  }
  .loginLinks {
    flex-basis: 50%;
  }
  .search {
    flex-basis: 50%;
  }
  .logo img {
    /*    max-width: 120px;*/
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  .logo img {
    width: 400px;
  }
  .newsItem {
    flex: 0 1 33%; /* Everyone: start at 25%, do not grow, you're allowed to shrink */
    max-width: 33%; /* No really IE10/11, do not grow bigger than 25% */
  }
}
@media all and (-ms-high-contrast: none) and (max-width: 800px),
  (-ms-high-contrast: active) and (max-width: 800px) {
  .newsItem {
    flex: 0 1 50%; /* Everyone: start at 25%, do not grow, you're allowed to shrink */
    max-width: 50%; /* No really IE10/11, do not grow bigger than 25% */
  }
}
